{% extends "base.html" %}

{% block title %}Pressure Tracker &middot; Sign in{% endblock %}




{% block content %}
	<div class="card my-5 mx-auto " style="max-width:30%">
	  <h5 class="card-header text-light bg=class custom-gradient1"><b>Sign in</b></h5>
	  <div class="card-body">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.username.label }}
				{{ form.username(class='form-control') }}
			</div>
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password(class='form-control') }}
				<small class="form-text text-muted">{{ form.password.description }}</small>
			</div>
			{{ form.submit(class='btn btn-success') }}
			<a href="/register" class="btn btn-outline-secondary">Create account</a>
		</form>
      </div>
    </div>
{% endblock %}
